.tabelaItens{
    border: 1px solid #a7a7a7;
    border-collapse: collapse;
    max-width: 95%;
    width: 100%;
    margin-bottom: 0px;
    font-size: 14px;
    font-weight:unset;
    height: 100%;
    margin: 0 auto;
}

.tabelaItens th{
    background-color:lightblue; 
    border-collapse: collapse; 
    color: black; 
   border: 1px solid #000000;
    text-align: center;
}
.tabelaItens tr, .tabelaItens td{
    border-collapse: collapse;
    border: 1px solid black;
    text-align: center;
}

.totalizando{
    width: 90%;
    display: flex;
    margin: 10px auto 0 auto;
    justify-content: end;
    gap: 10px;
    align-items: center;
}

.btnRemove{
    width: 100%;
    background-color: rgba(255, 0, 0, 0.473);
    cursor: pointer;
}

#caixa-info{
    display: none;
    justify-content: space-around;
    max-width: 220px;
    width: 100%;
    background-color: rgb(250, 250, 210);
    border: 1px solid rgba(255, 166, 0, 0.781);
    border-radius: 8px;
    position: absolute;
    right: 35%;
    bottom: 42%;
}

#caixa-info.mostrar{
    display: block;
  
}

.info{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-bottom: 8px;
    margin: 8px;
}

.info-text{
    font-size: 10px;
}

.cores{
    margin-right: 6px;
    width: 15px;
    border: 1px solid black;
}


@media  (max-width: 500px) {
    #caixa-info {
        right: 35%;
        bottom: 25%;

    }
    
}