.tabelaItens{
    border: 1px solid #a7a7a7;
    border-collapse: collapse;
    width: 95%;
    margin-bottom: 0px;
    font-size: 16px;
    font-weight:unset;
    height: 100%;
    margin: 0 auto;
}
.tabelaItens th{
    background-color:lightblue; 
    border-collapse: collapse; 
    color: black; 
   border: 1px solid #000000;
    text-align: center;
}
.tabelaItens tr, .tabelaItens td{
    border-collapse: collapse;
    border: 1px solid black;
    text-align: center;
}

.totalizando{
    margin-top: 10px;
}

.btnRemove{
    width: 100%;
    background-color: rgba(255, 0, 0, 0.473);
    cursor: pointer;
}